@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --black: #191919;
    --white: #fff;

    --background: #fff;
    --h-background: #e5e5e5;
    --foreground: #191919;
    --h-foreground: #333333;
    --s-foreground: #1b5e20;
    --d-foreground: #b71c1c;
    --primary: #5a7b00;
    --secondary: #191919;
    --info: #1363bf;
    --success: #19944a;
    --warning: #d4a900;

    --danger: #c13232;

    --header: 72px;
  }
  .dark {
    --white: #fefffa;

    --background: #191919;
    --h-background: #333333;
    --foreground: #fefffa;
    --h-foreground: #f2ffcc;
    --s-foreground: #d4edda;
    --d-foreground: #f8d7da;
    --primary: #caff33;
    --secondary: #fefffa;
    --info: #a4cfff;
    --success: #22c55e;
    --warning: #facc15;
    --danger: #ef4444;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-h-background: var(--h-background);
  --color-foreground: var(--foreground);
  --color-h-foreground: var(--h-foreground);
  --color-s-foreground: var(--s-foreground);
  --color-d-foreground: var(--d-foreground);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

@layer utilities {
  .pt-header {
    padding-top: var(--header);
  }
  .pb-header {
    padding-bottom: var(--header);
  }
  .py-header {
    padding-top: var(--header);
    padding-bottom: var(--header);
  }

  .mt-header {
    margin-top: var(--header);
  }
  .mb-header {
    margin-bottom: var(--header);
  }
  .my-header {
    margin-top: var(--header);
    margin-bottom: var(--header);
  }

  .top-header {
    top: var(--header);
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px var(--h-background) !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--h-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
  border: 2px solid var(--h-background);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}

/* Firefox scrollbar styles */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--h-background);
}

@keyframes justify-end-to-start {
  0% {
    justify-content: flex-end;
  }
  75% {
    justify-content: flex-start;
  }
  100% {
    justify-content: flex-start;
  }
}

.animate-justify-end-to-start {
  animation: justify-end-to-start 300ms ease-in-out forwards;
}

@keyframes justify-start-to-end {
  0% {
    justify-content: flex-start;
  }
  75% {
    justify-content: flex-end;
  }
  100% {
    justify-content: flex-end;
  }
}

.animate-justify-start-to-end {
  animation: justify-start-to-end 300ms ease-in-out forwards;
}

@keyframes width-pulse {
  0% {
    width: 24px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 24px;
  }
}

.animate-width-pulse {
  animation: width-pulse 300ms ease-in-out forwards;
}

@keyframes color-pulse {
  0%,
  100% {
    color: var(--foreground);
  }
  50% {
    color: var(--primary);
  }
}

.animate-color-pulse {
  animation: color-pulse 1.5s ease-in-out infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 300ms ease-out forwards;
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

@keyframes border-bottom-color-pulse {
  0%,
  100% {
    border-bottom-color: var(--foreground);
  }
  50% {
    border-bottom-color: var(--primary);
  }
}

.animate-border-bottom-color-pulse {
  animation: border-bottom-color-pulse 1.5s ease-in-out infinite;
}

@keyframes slide-bar {
  0% {
    left: -30%;
  }
  100% {
    left: 100%;
  }
}

.animate-slide-bar {
  animation: slide-bar 1s linear infinite;
}

@keyframes cursor {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: var(--primary);
  }
  100% {
    background-color: transparent;
  }
}

.animate-cursor {
  animation: cursor 900ms ease-in-out infinite;
}
