@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --black: #000;
    --white: #fefffa;

    --background: #fff;
    --highlighted-background: #e5e5e5;
    --foreground: #191919;
    --highlighted-foreground: #333333;
    --primary: #a1cc2a;
    --secondary: #191919;
    --success: #19944a;
    --warning: #d4a900;
    --danger: #c13232;

    --header: 72px;
  }
  .dark {
    --background: #191919;
    --highlighted-background: #333333;
    --foreground: #fefffa;
    --highlighted-foreground: #f2ffcc;
    --primary: #caff33;
    --secondary: #fefffa;
    --success: #22c55e;
    --warning: #facc15;
    --danger: #ef4444;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-highlighted-background: var(--highlighted-background);
  --color-foreground: var(--foreground);
  --color-highlighted-foreground: var(--highlighted-foreground);
  --color-black: var(--black);
  --color-white: var(--white);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
}

@layer utilities {
  .pt-header {
    padding-top: var(--header);
  }
  .pb-header {
    padding-bottom: var(--header);
  }
  .py-header {
    padding-top: var(--header);
    padding-bottom: var(--header);
  }

  .mt-header {
    margin-top: var(--header);
  }
  .mb-header {
    margin-bottom: var(--header);
  }
  .my-header {
    margin-top: var(--header);
    margin-bottom: var(--header);
  }
}

body {
  font-family: var(--font-inter), sans-serif;
  background: var(--background);
  color: var(--foreground);
}

@keyframes justify-end-to-start {
  0% {
    justify-content: flex-end;
  }
  75% {
    justify-content: flex-start;
  }
  100% {
    justify-content: flex-start;
  }
}

.animate-justify-end-to-start {
  animation: justify-end-to-start 300ms ease-in-out forwards;
}

@keyframes justify-start-to-end {
  0% {
    justify-content: flex-start;
  }
  75% {
    justify-content: flex-end;
  }
  100% {
    justify-content: flex-end;
  }
}

.animate-justify-start-to-end {
  animation: justify-start-to-end 300ms ease-in-out forwards;
}

@keyframes pulse-width {
  0% {
    width: 24px;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 24px;
  }
}

.animate-pulse-width {
  animation: pulse-width 300ms ease-in-out forwards;
}
